body {
    margin: 0px;
    padding: 0px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}


header {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: black;
    color: white;

}

header>ol {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    justify-content: space-around;
}

header>ol>li {
    padding: 10px;
}

a {
    color: rgb(255, 153, 0);
}

content {
    margin: 0px;
    padding: 0px 0px 30px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    display: flex;
    flex-direction: column;
  
    padding: 10px 10px 0px 10px;
    margin: 10px 5px 0px 0px 10px;
    width: 80%;
}

#home {
    display: flex;
    align-items: center;
    margin: 5px 0px 0px 0px;
    padding: 10px 0px 0px 0px;

}

h1{
    margin: 0px;
    padding: 0px;
}

h2{
    margin:0px;
    padding: 0px;
}

summary{
    margin: 0px px 0px 10px;
    padding: 0px 0px 0px 10px;
}

#randomQuote {
    display: flex;
    flex-direction: column;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    width: 400px;

}

#simpson_phrase {
    margin: 0px;
    padding: 0px;
    font-style: italic;
    font-size: 25px;
}

#author {
    align-self: flex-end;
    margin: 0px;
    padding: 0px;
    font-size: 15px;
}

#list_of_tools {
    list-style-type:disc;
    margin: 0px 0px 0px 25px;
    padding: 0;

}


#tags {
    max-width: 600px;
    display: flex;
    list-style-type: none;
    margin: 0px 0px 0px 20px;
    padding: 0px 0px 0px 20px;
    justify-content: space-evenly;
}

#tags>li {
    background-color: rgb(255, 236, 95);
    border-radius: 30px;
    padding: 6px;
    margin: 0;
}

hr {
  border: none; /* Removes the default border */
  height: 2px; /* Sets the line thickness */
  background-color: rgb(0, 0, 0); /* Sets the line color */
  width: 80%; /* Adjusts the line length */
  margin: 20px auto; /* Centers the line with spacing */
}



@media (prefers-color-scheme: dark) {
    body {
        background-color: rgb(21, 21, 21);
        color: aliceblue;
    }

    #tags>li {
        background-color: rgb(214, 77, 28);
        border-radius: 30px;
        padding: 6px;
        margin: 0;
    }

    hr {
  background-color: rgb(255, 255, 255); /* Sets the line color */
}
}
